.watch-container{
    width: 100%;
    min-height: 100vh;
    background-color: #161F27;
    padding:2rem 0;
}
.watch{
    background-color: #1A1A1A;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding:0 1rem;
    font-size: 1.5rem;
    color:white;
    font-weight: 500;
}
.watch-home{
    color: white;
}
.watch-movie{
    margin-top: 2rem;
    width: 100%;
    height: 60rem;
}
.watch-title{
    width: 100%;
    margin-top: 2rem;
    color:#EBC328;
    font-size: 2.5rem;
    font-weight: 600;
}
.watch-episode{
    margin-top: 2rem;
}
.watch-episode{
    width: 100%;
    font-size: 1.5rem;
    color:white;
    font-weight: 400;
    text-transform: uppercase;
}
.watch-epic{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.episodic{
    width: 7rem;
    height: 3rem;
    color:white;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
    border-radius: 2rem;
    cursor: pointer;
    margin-right: 1rem;
}
.episodic:hover{
    background-color: green;
}
.episodic.active{
    background-color: green;
}
.watch-comment-form{
    width: 100%;
    margin-top: 2rem;
    background-color: white;
    padding:1rem;
}
.watch-comment-container{
    width: 100%;
    height: 8rem;
    display: flex;  
    padding-top: 1rem;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 0.1rem solid rgba(0,0,0,0.2);
    margin-bottom: 2rem;
}
.watch-comment-comment-order{
    font-size: 1.5rem;
    font-weight: 400;
}
.watch-comment-comment-order > select{
    width: 10rem;
    height: 3rem;
    font-size: 1.4rem;
    outline: none;
    background-color: #F5F6F7;
}
.watch-detail-comment-form{
    width: 100%;
}
.watch-detail-comment-form > textarea{
    width: 100%;
    min-height: 7rem;
    padding:1rem;
    font-size: 1.5rem;
    resize: vertical;
    outline: #FF9606;
}
.span-change{
    text-transform: capitalize;
}